$PR_BLUE: #185adb;
$PR_PURPLE: #8758ff;
$PR_BLACK: #181818;
$PR_YELLOW: #ffc947;
$PR_RED: #f45050;
$PR_GRAY: #6f6e6e;
$PR_BORDER: #beb7b7;
$white: #ffffff;

$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
