@import "../../common/variables";
@import "../../common/mediaQuery";

.card {
    border: 2px solid $PR_RED;
    border-radius: 4px;
    width: 60%;
    margin-bottom: 24px;

    .components {
        margin: 8px;
        
        .date {
            margin-left: 4px;
            margin-bottom: 8px;
            font-size: smaller;
            color: $PR_GRAY;
        }
        .texts {
            margin: 4px;
        }
        .author {
            margin: 12px 0px 4px 4px;
        }
    }
}