@import "../../common/mediaQuery";

.div {
	@include media-query-style;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: left;
	margin-top: 50px;

	.topDiv {
		display: flex;
		justify-content: space-between;
		margin: 20px 0;
	}

	.title {
		margin-bottom: 20px;
	}

	.midDiv {
		width: 100%;
		justify-content: space-between;
		border: 1px solid #dee2e6;
		border-radius: 4px;
		padding: 8px;
		margin-bottom: 20px;

		.td {
			text-align: center;
			padding-right: 8px;
			min-width: 100px;
		}
	}
}