@import "../../common/mediaQuery";

.div {
	@include media-query-style;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;

	.logo {
		text-align: center;
		.logoColor {
		font-size: 35px;
		background-image: linear-gradient(to right, $PR_BLUE, $PR_PURPLE);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		}
	}

	.textDiv {
		text-align: center;
		margin-top: 40px;

		.text {
			margin-top: 16px;
			margin-bottom: 24px;
		}
	}
	
  	.formDiv {
		margin-top: 20px;
		align-items: center;
		
		.form {
			margin: 16px;
			width: 400px;
			text-align: center;
		}

		:global(.p-inputtext) {
			width: 100%;
		}
	}

	a {
		text-decoration-line: none;
		color: $PR_BLUE;
  
		&:visited {
		  text-decoration-line: none;
		  color: $PR_BLACK;
		}
	}

}