.logo {
  //   font-size: 72px;
  //   background-image: linear-gradient(to right, #185adb, #8758ff);
  //   -webkit-background-clip: text;
  //   -webkit-text-fill-color: transparent;
  //   background: -webkit-linear-gradient(#eee, #333);
  .logoColor {
    font-size: 35px;
    background-image: linear-gradient(to right, #185adb, #8758ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
